<main class="home">
  <header>
    <nav>
      <div class="logo">
        <img src="https://www.linkpicture.com/q/click_1.png"></div>
      <div class="options">
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
          <li>News</li>
        </ul>
      </div>
      <div class="buttons">
        <%= link_to "Log in", login_path %>
        <%= link_to "Sign up", register_path %>
      </div>
    </nav>
  </header>
  <section>
    <div class="left">
      <div class="slogan">Biddin’ Business.</div>
      <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua in hac habitasse platea. </div>
      <%= link_to "Get Started", register_path %>
    </div>
    <div class="right">
      <img src="https://www.linkpicture.com/q/bids-removebg-preview.png">
    </div>
  </section>
</main>
