<div id="<%= dom_id bid %>">

  <p>
    <strong>Bidder:</strong>
    <%= bid.user.full_name %>
  </p>
  <p>
    <strong>Product:</strong>
    <%= bid.product.name %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= bid.amount %>
  </p>
</div>
