<%= form_with(model: bid, url: url) do |form| %>
  <%= render "shared/errors", object: bid %>
  <div>
    <%= form.number_field :amount,
                      placeholder: "#{bid.product.starting_bid_price} or higher",
                      style: "margin-top: 10px" %>
  </div>
  <div>
    <%= form.submit action_name == "new" ? "Place a Bid" : "Update" %>
  </div>
<% end %>
