<main class="settings">
  <%= render "layouts/nav" %>
  <section>
    <div class="top">
      <div class="title">Account Settings</div>
    </div>
    <div class="body">
      <%= render "form", user: @user %>
      <div class="right">
        <div class="text">Delete Account</div>
        <div class="note">
          Note: This is irreversible.<br>You may lose your data including your bids.
        </div>
        <%= link_to "Continue to account deletion",
        @user,
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        },
        class: "delete-account" %>
      </div>
    </div>
  </section>
</main>
