<%= turbo_frame_tag "modal" do %>
  <main class="product-modal">
    <div class="container">
      <div class="top">
        <div class="title">Add Product</div>
      </div>
      <%= render "form", product: @product %>
      <%= link_to "Close", :back, class: "back" %>
    </div>
  </main>
<% end %>